.carousel {
    position: relative;
    overflow: hidden;
    width: 100%; /* Full width of the section */
    height: calc(100vh - 80px); /* Adjusted height to fit within the section */
}

.carousel-track {
    display: flex;
    height: 100%;
    animation: scroll-left 20s linear infinite;
}

.carousel-track:hover {
    animation-play-state: paused;
}

.carousel-item {
    flex: 0 0 auto;
    width: 300px; /* Adjust width as needed */
    margin-right: 20px; /* Space between items */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

/* Softer gradient overlay */
.carousel::before, 
.carousel::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100px; /* Increased width for a more gradual fade */
    height: 100%;
    z-index: 2;
}

.carousel::before {
    left: 0;
    background: linear-gradient(to right, #E0E0E0 0%, rgba(255, 255, 255, 0) 100%);
}

.carousel::after {
    right: 0;
    background: linear-gradient(to left, #E0E0E0 0%, rgba(255, 255, 255, 0) 100%);
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
