/* General body styling */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #E0E0E0;
}

/* Sidebar styling */
.contact-sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 100;
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #7d49de;
  color: white;
  font-size: 1.5rem;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.contact-button:hover {
  background-color: #5c36a6;
  transform: translateY(-5px);
}

.contact-button .icon {
  font-size: 1.7rem;
}

/* Team container styling */
.team-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  transform: translateY(50px); /* Start from 50px below */
  animation: fadeInUp 1s ease-out forwards; /* Apply animation */
}

.team-title {
  font-size: 3em;
  color: #7d49de;
  margin-top: 100px;
  margin-bottom: 40px;
}

/* Team members styling */
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Animation for individual team members */
.team-member {
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  will-change: transform, box-shadow;
  transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out; /* Adjust duration and easing */
}

.team-member:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team-member:nth-child(1) {
  animation-delay: 0.2s; /* Delay for stagger effect */
}
.team-member:nth-child(2) {
  animation-delay: 0.4s;
}
.team-member:nth-child(3) {
  animation-delay: 0.6s;
}
.team-member:nth-child(4) {
  animation-delay: 0.8s;
}
.team-member:nth-child(5) {
  animation-delay: 1s;
}

/* Team member image styling */
.team-member-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 20px;
}

.team-member-name {
  font-size: 1.5em;
  color: #7d49de;
  margin: 10px 0;
}

.team-member-role {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

/* Keyframe animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px); /* Start from below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at normal position */
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px); /* Slide from below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at normal position */
  }
}
